# langchain==0.2.14
# langchain-community==0.2.12
# langchain-core==0.2.35
# langchain-groq==0.1.9
# faiss-cpu==1.8.0
# sentence-transformers==2.7.0
# transformers==4.41.2
# huggingface-hub==0.23.4

# beautifulsoup4==4.12.3
# requests==2.32.3

# tiktoken==0.7.0
torch
torchvision
torchaudio
torchtext
datasets
tokenizers
torchmetrics
tensorboard
altair
wandb
spacy
torchinfo
scikit-learn
langchain_groq
langchain_google_genai 
langchain_anthropic 
langchain_huggingface
langchain_openai
grandalf
ipykernel
pip
dotenv